<!DOCTYPE html>
<html lang="es">
<head>
  <title>Embera Wounaan - Nosotros</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
body {
  background-image: url(static/NOSOTRO.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(static/NOSOTRO.png);
  }
}
</style>
<body>

<ul class="nav justify-content-center fixed-top">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nosotros">Nosotros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/servicios">Servicios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/informacion">Información</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/reservaciones">Reservaciones</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/contactenos">Contáctenos</a>
  </li>
</ul>

<div class="container-fluid">
      <p class="py-5"></p>
      <p class="py-5"></p>
        <div class="row">
          <div class="container">
            <div class="row">
            <div class="col-7">
              <img src="static/PERSONA.png" width="600" height="450" title=Indigenas">
            </div>
            <div class="col-5">
            <p class="text-justify">Describe los datos generales y específicos que definen y caracterizan  Emberá
              Wounaan, desde sus inicios hasta la actualidad  residentes  de Emberá Wounaan
              proceden de diversas  aldeas, su fundador principal  llegó   desde  Manené,
              provincia  de  Darién,  para  contribuir  con  el desarrollo  de  la  región  de  Alto
              Chagres, invitado  por  su primo  Miguel Flaco, entonces  residente de Emberá
              Drua;  iguamente, residía Emeregildo Amagara y Melenio Bedoya, el primero de
              éstos decisivo para la creación de la nueva aldea</p>
              <p class="text-justify"> Hasta el año de 1999 residieron en Emberá Wounaan, impulsando el desarrollo
              turístico local y posteriormente se mudaron a Parará Purú, con la esperanza de
              obtener mayores  oportunidades, las cuales tampoco  encontraron allá.  Con  la
              firme  convicción  de  que tenían  que fundar  una aldea  dedicada por entero al
              turismo, deciden buscar un terreno apropiado a finales del año 2006.</p></div>
          </div>
            <p class="py-5"></p>
            <div class="row">
              <div class="col-7">
                <p class="text-justify">Emberá Wounaan es una comunidad turística establecida desde enero de 2007, a orillas del Lago Gatún,
                corregimiento  de Limón, distrito y  provincia de Colón, República  de Panamá, la cual se se divide en dos
                distritos y cinco corrergimientos. </p>
              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <p><img src="static/location.svg" width="32" height="32" title="Bootstrap">  Darien, Emberá Wounaan</p>
                <p><img src="static/email.svg" width="32" height="32" title="Bootstrap">  emberawounann.com</p>
                <p><img src="static/phone.svg" width="32" height="32" title="Bootstrap">  +507 830-0418 / +507 6009-9342</p>
              </div>
            </div>
          </div>
        </div>

</div>

</body>
</html>