<!DOCTYPE html>
<html lang="en">
<head>
  <title>Embera Wounaan - Nosotros</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<ul class="nav justify-content-center fixed-top">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nosotros">Nosotros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/servicios">Servicios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/informacion">Información</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/reservaciones">Reservaciones</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/contactenos">Contáctenos</a>
  </li>
</ul>
<p>
  Describe los dato generales y específicos que definen y caracterizan  Emberá
  Wounaan, desde sus inicios hasta la actualidad  residentes  de Emberá Wounaan
  proceden de diversas  aldeas, su fundador principal  llegó   desde  Manené,
  provincia  de  Darién,  para  contribuir  con  el desarrollo  de  la  región  de  Alto
  Chagres, invitado  por  su primo  Miguel Flaco, entonces  residente de Emberá
  Drua;  iguamente, residía Emeregildo Amagara y Melenio Bedoya, el primero de
  éstos decisivo para la creación de la nueva aldea.
</p>



</body>
</html>