<!DOCTYPE html>
<html lang="en">
<head>
  <title>Embera Wounaan - Servicios</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
.fondo {
  background: url(static/SERVICIOS.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.fondo2 {
  background: url(static/GIRAS.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.fondo3 {
  background: url(static/ESTANDIA.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.fondo4 {
  background: url(static/CABAÑA.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.fondo5 {
  background: url(static/CULTURAL.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<ul class="nav justify-content-center fixed-top" style="background: #03030352">
  <li class="nav-item">
    <a class="nav-link" style="color: #fff" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #fff" href="/nosotros">Nosotros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/servicios">Servicios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #fff" href="/informacion">Información</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" style="color: #fff" href="/reservaciones">Reservaciones</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" style="color: #fff" href="/contactenos">Contáctenos</a>
  </li>
</ul>

    <div class="container-fluid fondo">
        <div class="container-fluid">
          <p class="py-4"></p>
        <div class="row">
          <div class="col display-4 text-white">
            <p><b>SERVICIOS</b></p>
          </div>
        </div>
          <p class="py-3"></p>
          <div class="row">
            <div class="col-3">
              <div class="card" style="width: 20rem;">
                  <img src="static/IMG1.png" class="card-img-top" alt="...">
                  <div class="card-body" style="background: #18bb00;">
                    <p class="card-text text-justify text-white">Esta aventura nos lleva a la comunidad de Emberá Woounaan, en la desembocadura del Lago Gatún. Usted disfrutará de un hermoso paisaje de flora y fauna, lo cual es típico de la región.</p>
                  </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 20rem;">
                  <img src="static/IMG2.png" class="card-img-top" alt="...">
                  <div class="card-body" style="background: #18bb00;">
                    <p class="card-text text-justify text-white">Emberá Wounaan es comarca indígena, la cual se dedicada a la cultura y conservación de su pueblo, consagrada al turismo sostenible, la agricultura, la pesca, la caza, la cría de animales de corral y a las artesanpias.</p>
                  </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 20rem;">
                  <img src="static/IMG3.png" class="card-img-top" alt="...">
                  <div class="card-body" style="background: #18bb00;">
                    <p class="card-text text-justify text-white">Los “Tambo” son cabañas de hospedajes que se encuentran ubicadas en la comunidad de Emberá Wounnan, abiertas al público en general que anhele  convivir con la naturaleza y conocer las costubres del pueblo indígena.</p>
                  </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 20rem;">
                  <img src="static/IMG4.png" class="card-img-top" alt="...">
                  <div class="card-body" style="background: #18bb00;">
                    <p class="card-text text-justify text-white">Para  que  los  invitados  a  su evento vivan una expediencia cultural completa, tenemos a su disposición músicos que utilizan flautas, tambores,  sonajas,  maracas  y más, con la  finalidad  de  darles  una  bienvenida  a  los participantes</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

      <div class="container-fluid fondo2">
            <div class="container-fluid">
                <p class="py-2"></p>
                <div class="row">
                    <div class="col-2">
                        <div class="card" style="width: 10rem;">
                              <div class="card-body">
                                <p class="card-text display-5 text-danger text-center">Detalles</p>
                              </div>
                            </div>
                  </div>
                    <div class="col-2">
                        <div class="card" style="width: 10rem;">
                              <div class="card-body">
                                <p class="card-text display-5 text-danger text-center">Contactenos</p>
                              </div>
                            </div>
                        </div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <p class="py-1"></p>
                            <div class="row">
                                <div class="col-2">
                                    <div class="card" style="width: 15rem;">
                                  <div class="card-body">
                                    <p class="card-text text-danger text-justify">Esta aventura nos llevará a la comunidad de Emberá Wounaan, donde podrá disfrutar de un hermoso paisaje, conocer la cultura de los indígenas y deleitarse de un exquisito almuerzo tradicional, el cual es preparado por las mujeres de la comunidad, así como participar en los bailes y  recrearse con la música, lo que lo trasportará a tiempos pasados. </p>
                                  </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="card" style="width: 20rem;">
                                  <div class="card-body">
                                    <p class="card-text text-danger text-center">Administrador General de Turismo</p>
                                    <p class="card-text text-danger text-center">Teléfonos: (507) 6009-9342 / 830-0418</p>
                                    <p class="card-text text-danger text-center">E-mail: emberaquera@wounnan.com</p>
                                    <p class="card-text text-danger text-center">E-mail: emberamounnan@gmail.com</p>
                                  </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-6"></div>
                </div>
                <div>
                    <p class="py-1"></p>
                            <div class="row">
                                <div class="col-6">
                                    <div class="card" style="width: 35rem;">
                                          <div class="card-body">
                                            <p class="card-text text-danger text-justify"> El viaje incluye:
                                                                                            Transporte acuático ida y vuelta. Almuerzo típico. Pcultura (bailes y música).
                                                                                            Sendero interpretativo (guiado por un botánico Emberá). Explicación de la
                                                                                            cultura y origen de la comunidad.
                                                                                            Exhibición y ventas de artesanías.
                                                                                            Frutas tropicales Bebidas (Aguas y sodas) </p>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-7"></div>
                            </div>
                 </div>
            </div>
      </div>


<div class="container-fluid fondo3">
    <p class="py-5">
    <p class="py-3"></p>
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5">
                <p class="text-justify h2">Emberá  Wounaan es una agrupación conocida por
                                        ser  un  pueblo  indígena  encantador y hospitalario
                                        que enseguida se hace querer por sus visitantes.</p>
                <p class="p-2"></p>
                <p class="text-justify h2">La  comunidad ofrece  a  sus visitantes nacionales y
                                        extranjeros, una estadía inolvidable en las viviendas
                                        tradicionales, tal  como  lo hacen los  residentes  de
                                        la  comunidad,  las  cuales  cuentan  con  todos  los
                                        servicios básicos, como  lo son: agua potable, baño
                                        higiénico,  logrando  que su estadía sea de ensueño
                                        y que la disfrute al máximo.  </p>
            </div>
        </div>
</div>


<div class="container-fluid fondo4">
    <p class="py-5"></p>
        <div class="row">
            <div class="container">
                <p class="h2 text-justify text-white"> La hospitalidad por parte de los residentes, se evidencia a través del recibimiento con música
                                            y  danzas, lo  que  los llenará  de alegría desde  su primer encuentro con  los miembros  de la
                                            comunidad, logrando  que salga de  la comodidad de la  cabañas, para disfrutar  de la belleza
                                            escénica del  lugar, escuchar los cánticos de las  aves, conocer  más sobre  la cultura emberá,
                                            relajarse con un baño en el Lago Gatún, observar la flora, adquirir conocimientos tradicionales
                                            de la medicina  botánica, ver la  fauna en su  hábitat natural, así  como  escuchar los relatos y
                                            cuentos del pueblo Emberá, asi como  degustar de la gastronomía típica del lugar.</p>
                <p class="py-2"></p>
                 <p class="h2 text-justify text-white">El pueblo celebra diferentes ceremonias, algunas las afectuán cuando tienen enfermos, como
                                            la ceremonia  de la  Chicha Cantada, las  de curación y las  de brujeria, con las  que tratan de
                                            alejar los espíritus causantes de las enfermedades.</p>

            </div>
        </div>
</div>

<div class="container-fluid fondo5">
    <p class="py-5">
    <p class="py-5">
    <p class="py-2">
    <p class="py-5"></p>
        <div class="row">
            <div class="container">
                <div class="card" style="width: 40rem;">
                <p class="col h4 text-justify text-white" style="background: #344ed9;">   Para  que  su  evento tenga  más  atractivo  cultural, podría  incluir  en  su  paquete
                                                            música y  bailes  típicos, ya  que la  comunidad cuenta  con personal  especializado
                                                            que le pueden brindar este tipo de servicios para su fiesta, así como la participación
                                                            de  algunos  mienbros  de la  comunidad  en los escenarios, instruyendo  sobre  las
                                                            costumbres  de  los Emberá Wounaan. El servicio se brinda a la empresa privada e
                                                            instituciones  gubernamentales, según  la necesidad  del cliente. </p>
                </div>
            </div>
        </div>
</div>


</body>
</html>